.card {
  color: rgb(100, 100, 100);
  display: grid;
  background: transparent;
  perspective: 1000px;
}

.card h2,
.card p {
  padding-left: 0.75rem;
  margin: 0;
}

.container {
  display: grid;
}

.catImage {
  border: none;
}
