@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  /* background: #ddd; */
  background: rgb(24, 214, 217);
  background: linear-gradient(
    0deg,
    rgba(24, 214, 217, 1) 0%,
    rgba(255, 233, 186, 1) 63%
  );
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
